 @import url('https://fonts.googleaphttps://fonts.google.com/share?selection.family=Lato:ital,wght@1,300is.com/css2?family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

.sobre {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 1rem;

}

.inf-cnt {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 1rem;
}

.experiencia {
  background-color: rgba(255, 255, 255, 0.5); 
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.ft-perfil {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

footer {  
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);  text-align: center;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}

li .icon {
  background-color: rgba(255, 255, 255, 0.884);
  font-size: 30px;
  border-radius: 50%;
  line-height: 50px;
  transition: all;
  transition-duration: 0.3s;
}

.icon {
  width: 50px;
  height: 50px;
  box-shadow: 0px 10px 5px rgb(143, 143, 143);
}

.icon:hover {
  box-shadow: 5px 0px 10px rgb(143, 143, 143);
}

li:nth-child(1):hover .icon:hover {
  color: white;
  border-color: white;
  border-radius: 50%;
  cursor: pointer;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

li:nth-child(2):hover .icon:hover {
  color: white;
  border-color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00aced;
  position: relative;
  bottom: 2px;
}

li:nth-child(3):hover .icon:hover {
  color: white;
  border-color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #0e76a8;
  position: relative;
  bottom: 2px;
}

li:nth-child(4):hover .icon:hover {
  color: white;
  border-color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #6441a5;
  position: relative;
  bottom: 2px;
}

li:nth-child(5):hover .icon:hover {
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #3b5998;
  position: relative;
  bottom: 2px;
}

li:nth-child(6):hover .icon:hover {
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #34af23;
  position: relative;
  bottom: 2px;
}